#about-container{
    height: 100%;
    .billboard{
        font-family: 'Montserrat Alternates', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // width: 90%;
        height: 80vh;
        font-size: 4em;
        // font-family: 'Roboto', sans-serif;
        // font-family: 'Josefin Slab', serif;

        background-image: url("../../assets/img/billboard.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-shadow: 2px 1px #4c4c4c;
        .divider{
            height: 2px;
            width: 20%;
            background-color: #f1f1f1;
        }
    }

    #card-section{
        display: flex;
        justify-content: center;
        padding: 0 2em;
        .card-container{
            display: flex;
            justify-content: space-between;
            max-width: 80em;
            width: 90%

        }
    }

    @media screen and (max-width: 1024px) {
        .card-container{
            >div{
                margin: 20px 10px;
                button{
                    h2{
                        margin: 0;
                    }
                    div{
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #card-section{
            padding: 0 1em;
            .card-container{
                width: 100%;
                max-width: 100%;
                justify-content: space-evenly;
                > div {
                    margin: 10px 5px;
                    min-width: 120px;
                    button{
                        h2{
                            font-size: 1.5em;
                            padding: .5em;
                        }
                        img{
                            display: none;
                        }

                    }
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        #card-section{
            .card-container{
                > div {
                    margin: 10px 5px;
                    min-width: 100px;
                }

            }
        }
    }
    @media screen and (max-width: 350px) {
        #card-section{
            padding: 0 1em;
            .card-container{
                width: 100%;
                max-width: 100%;
                justify-content: space-evenly;
                > div {
                    margin: 5px;
                    min-width: 90px;
                }

            }
        }
    }

}


//Quote scss
.__quote{
    padding: 3em;
    margin: auto;
    max-width: 50em;
    h1 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 40px;
    }

    .testimonial-quote {
        font-size: 16px;
    }

    .testimonial-quote blockquote {
        /* Negate theme styles */
        border: 0;
        margin: 0;
        padding: 0;

        background: none;
        color: gray;
        font-family: Georgia, serif;
        font-size: 1.5em;
        font-style: italic;
        line-height: 1.4 !important;
        margin: 0;
        position: relative;
        text-shadow: 0 1px white;
        // z-index: 600;
    }

    .testimonial-quote blockquote * {
        box-sizing: border-box;
    }

    .testimonial-quote blockquote p {
        color: #75808a;
        line-height: 1.4 !important;
    }

    .testimonial-quote blockquote p:first-child:before {
        content: '\201C';
        color: #81bedb;
        font-size: 7.5em;
        font-weight: 700;
        opacity: .3;
        position: absolute;
        top: -.4em;
        left: -.2em;
        text-shadow: none;
        z-index: -300;
    }

    .testimonial-quote img {
        border: 3px solid #9CC1D3;
        border-radius: 50%;
        display: block;
        width: 120px;
        height: 120px;
        position: absolute;
        top: -.2em;
        left: 0;
        display: none;
    }

    .testimonial-quote cite {
        color: gray;
        display: block;
        font-size: .8em;
    }

    .testimonial-quote cite span {
        color: #5e5e5e;
        font-size: 1em;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 1px white;
    }

    .testimonial-quote {
        position: relative;
    }

    .testimonial-quote .quote-container {
        // padding-left: 160px;
    }

    .testimonial-quote.right .quote-container {
        padding-left: 0;
        padding-right: 160px;
    }

    .testimonial-quote.right img {
        left: auto;
        right: 0;
    }

    .testimonial-quote.right cite {
        text-align: right;

    }

}

@media screen and (max-width: 1224px) {
    .__quote{
        padding: 3em 10em;
    }
}
@media screen and (max-width: 1024px) {
    .__quote{
        padding: 3em 5em;
        .testimonial-quote{
           img{
                width: 100px;
                height: 100px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .__quote{
        padding: 2em 2em;
        .testimonial-quote{

            img{
                display: none;
            }
            .quote-container{
                padding: 0;
            }
        }
    }
}
