#achievements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    .description{
        width: 100%;
        p{
            padding: 3em;
            line-height: 1.4em;
        }
    }
}

.mui-list-container{
    display: flex;
    justify-content: center;
    width: 90%;
    // padding: 0 2em 2em 2em;
    // background: #F1F1F1;
    border: solid #f7f7f9;
    border-width: .2rem;
    // margin: 2em 0;
}

.highschool-container{
    display: flex;
    flex-direction: column;
    .award{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #3f51b529;
        .left{
            width: 30%;
        }
        .right{
            width: 70%;
        }
        .section{
            width: 100%;
            padding: .5rem;
            font-weight: 500;
            color: #3f51b5;
        }
        .center{
            width: 100%;
            // padding: .5rem;
            // font-weight: 500;
            // color: #3f51b5;
        }
    }
}

iframe{
    padding: 2em 0;
    width: 887px;
    height: 499px;
}

@media screen and (max-width: 1024px) {
    iframe{
        width: 700px;
        height: 394px;
    }
}
@media screen and (max-width: 900px) {
    iframe{
        width: 600px;
        height: 338px;
    }
}
@media screen and (max-width: 750px) {
    iframe{
        width: 450px;
        height: 253px;
    }
}
@media screen and (max-width: 600px) {
    iframe{
        padding: 1em 0;
        width: 385px;
        height: 217px;
    }
}
@media screen and (max-width: 450px) {
    #achievements{
        padding: 1em .3em;
        .mui-list-container{
            width: 100%;
            // margin: 1em 0;
        }
    }
      iframe{
        width: 360px;
        height: 203px;
    }
}
@media screen and (max-width: 350px) {
    iframe{
        padding: 1em 0;
        width: 300px;
        height: 269px;
    }
}